body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:#fafafa;
}

ul {
  list-style-type: none;
  padding: 0 0 0 25px;
  margin: 0 0 10px 0;
}

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #eee;
  color: #444;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
  font-size: medium;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0;
  background-color: white;
  overflow: hidden;
}

button.accordion:after {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

a.tabnav {
  padding: 10px;
  transition: background-color 0.3s ease 0s, color 0.15s ease 0s, box-shadow 0.3s ease 0s, opacity 0.3s ease 0s;
  text-decoration: none !important;
}

.w3-navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 575px;
}

.tab {
  width: 575px;
}

.w3-navbar li {
  float: left;
  margin-top: -1px;
}

.w3-navbar li a, .w3-navbar li span, .w3-navitem {
  display: block;
  padding: 8px 16px;
  color: #fff
}

.w3-navbar li span {
  background-color: #000;
}

.w3-navbar li a:hover {
    background-color: #ccc;
    color: #000;
}

.w3-black, .w3-hover-black:hover {
  background-color: #888 !important;
  color: #fff !important;
}

.w3-red, .w3-hover-red:hover {
  background-color: #f44336 !important;
  color: #fff !important;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  font-size: small;
}

td {
  padding-left: 10px;
}

.w114px {
  width: 114px;
}

.container {
 padding-bottom: 10px;
}
