body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:#fafafa;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  font-size: small;
}

td {
  padding-left: 10px;
}

td:hover {
  background-color: #999999;
  cursor: default;
}